@using MySql.Data.MySqlClient
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ClickerSite.Controllers
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <header>
        <nav>
            <a asp-controller="Account" asp-action="Profile">Профиль</a>
        </nav>
        @foreach (var desNameList in Model)
        {
            <p>@desNameList</p>
        }
    </header>
</div>
</body>
</html>