@using MySql.Data.MySqlClient
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ClickerSite.Controllers
@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <header>
        @foreach (var desNameList in Model)
        {
            <p>@desNameList</p>
            <form asp-controller="RenameDataUser" asp-action="UpdateDataUser" method="post">
                <input value="@desNameList" type="text" name="NameProfile" placeholder="OldЛогин"/>
                <input type="text" name="name" placeholder="Логин"/>
                <button>изменить имя</button>
            </form>
        }
    </header>
    <div>
        <form asp-controller="DeletedAccunt" asp-action="DeletedUser" method="post">
            <button class="button_DeletedAccaunt">удалить аккаунт</button>
        </form>
    </div>
    <div>
        <form asp-controller="gettingDataBase" asp-action="SelectDataBase" method="get">
            <button>получить данные</button>
        </form>
    </div>
</div>
</body>
</html>