@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <header>
        <form method="get" asp-controller="Autorized" asp-action="Login">
            <p>@Model</p>
        </form>
    </header>
    <div>
        <form asp-controller="DeletedAccunt" asp-action="DeletedUser" method="post">
            <button class="button_DeletedAccaunt">удалить аккаунт</button>
        </form>
    </div>
    <div>
        <form asp-controller="RenameDataUser" asp-action="UpdateDataUser" method="post">
            <input type="text" name="name" placeholder="Логин"/>
            <button>изменить имя</button>
        </form>
    </div>
    <div>
        <form asp-controller="RenameDataUser" asp-action="SelectDataBase" method="get">
            <button>получить данные</button>
        </form>
    </div>
</div>
</body>
</html>