@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ClickerSite</title>
    <link rel="stylesheet" href="~/css/Main.css" asp-append-version="true"/>
</head>
<body>
<header class="header">
    <nav class="navFlex">
        <a class="Login" onclick="KlickLogin()">Вход</a>
        <a class="Regist" onclick="KlickRegist()">Регистрация</a>
    </nav>
</header>
<main>
    <form method="post" asp-controller="Autorized" asp-action="Registartion">
        <nav class="Regist_Active" id="Regist_Active">
            <input id="nameInput" type="text" name="name" placeholder="Логин"/>
            <input id="mailInput" type="text" name="mail" placeholder="Почта"/>
            <input id="passInput" type="password" name="pass" placeholder="Пароль"/>
            <input id="replace_PassInput" type="password" name="replcePass" placeholder="Повторить пароль"/>
            <div asp-validation-summary="ModelOnly"></div>
            <button type="submit" onclick="registButton()" class="PostRegist" id="PostRegist">Создать</button>
        </nav>
    </form>
    <form method="post" asp-controller="Autorized" asp-action="Login">
        <nav class="Login_Active" id="Login_Active">
            <input name="name" placeholder="Логин"/>
            <input name="pass" placeholder="Пароль"/>
            <div asp-validation-summary="ModelOnly"></div>
            <button class="PostLogin">Войти</button>
        </nav>
    </form>
    <button class="button_conclusion"></button>
    <button class="button_advertisement"></button>
</main>
<footer>
    
</footer>
<script src="js/Regist.js"></script>
</body>
</html>