@model System.Collections.Generic.List<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    @foreach (var desList in Model)
    {
        <p>@desList</p>
    }
</div>
</body>
</html>