@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div>
        <form asp-controller="DeletedAccunt" asp-action="DeletedUser" method="post">
            <input name="id"/>
            <button class="button_DeletedAccaunt">удалить аккаунт</button>
        </form>
    </div>
</div>
</body>
</html>